<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ExtWeb</title>

    <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <!--<script src="tether/tether.min.js"></script>-->
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/detalhes_acao.js" defer></script>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">ExtWeb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#descricao">Descrição</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#localizacao">Local</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inscricao">Inscrição</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#inscricao">Programação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos">Contatos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

            <!-- Title -->
            <br>
            <br>
            <h1 class="mt-4" id="titulo"></h1>
            <br>

            <!-- Date/Time -->
            <p>Data de cadastro: 12/08/2019</p>

            <hr>

            <!-- Carousel Images -->
            <div id="carouselExampleIndicators" class="carousel slide w-80" data-ride="carousel">
                <ol class="carousel-indicators" id="slideList">
                    <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner" id="carrossel">
                    <!-- <div class="carousel-item active">
                        <img class="d-block w-100" src="http://placehold.it/1000x400" alt="First slide">
                    </div> -->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br><br>
            

            <div id="descricao">
                <h2>Descrição</h2>
                <hr>
                <p id=txtDescricao style="text-align: justify;"></p>
            </div>            

            <div id="especificacoes">
                <h2>Especificações</h2>
                <hr>
                <ul id="especificacoesList" style="list-style-type: none;">
                    <li><b>Tipo de ação: </b><span id="tipoAcao"></span></li>
                    <li><b>Modalidade: </b><span id="modalidade"></span></li>
                    <li><b>Carga horária: </b><span id="cargaHoraria"></span> horas</li>
                    <li><b>Área principal: </b><span id="areaPrincipal"></span></li>
                    <li><b>Público alvo: </b><span id="publicoAlvo"></span></li>
                </ul>
            </div>
            
            <div id="localizacao">
                <h2>Localização</h2>
                <hr>
                <ul id="listLocalizacao" style="list-style-type: none;">
                    <li><b>Espaço: </b><span id="espaco"></span></li>
                    <li><b>Cidade/Estado: </b> <span id="cidade"></span>/<span id="estado"></span></li>
                </ul>
            </div>

            <div id="inscricao">
                <h2>Inscrições</h2>
                <hr>
                <ul id="listInscricao" style="list-style-type: none;">
                    <li><b>De:</b> <span id="inicioInscricoes"></span> <b>até</b> <span id="fimInscricoes"></span></li>
                    <li><b>Vagas disponíveis:</b> <span id="vagasdisponiveis"></a></li>
                    <li><b>Vagas ocupadas:</b> <span id="vagasocupadas"></span></li>
                    <li><b>Inscreva-se <a id="linkInscricoes">aqui!</a></b></li>
                </ul>
            </div>

            <div id="cronograma">
                <h2>Programação</h2>
                <hr>
                <table class="table table-bordered table-hover table-responsive-sm" >
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Horário</th>
                        <th scope="col">Atividades</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="listCronograma">
                        <td id="txtDataP"></td>
                        <td><span id="inicioP"></span> às <span id="fimP"></span></td>
                        <td id="atividadesP"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="contatos" class="container" >
                <h2>Contato</h2>
                <hr>
                <div id="contatosRow" id="listContatos" > 
                    <div id="listContato2" style="float: left; padding-left: 10px;">
                        <h5 id="nomeContato2"></h5>
                        <ul style="list-style-type: none;">
                            <li><b>Categoria: </b> <span id="categoriaContato2"></span></li>
                            <li><b>Função: </b><span id="funcaoContato2"></span></li>
                            <li><b>E-mail: </b><span id="emailContato2"></span></li>
                        </ul>
                        </span>
                    </div>                   
                    <div id= "listContato0" style="float: left; padding-left: 10px;">
                        <h5 id="nomeContato0"></h5>
                        <ul style="list-style-type: none;">
                            <li><b>Categoria: </b> <span id="categoriaContato0"></span></li>
                            <li><b>Função: </b><span id="funcaoContato0"></span></li>
                            <li><b>E-mail: </b><span id="emailContato0"></span></li>
                        </ul>
                    </div>
                    <div id="listContato1" style="float: left; padding-left: 10px;">
                        <h5 id="nomeContato1"></h5>
                        <ul style="list-style-type: none;">
                            <li><b>Categoria: </b> <span id="categoriaContato1"></span></li>
                            <li><b>Função: </b><span id="funcaoContato1"></span></li>
                            <li><b>E-mail: </b><span id="emailContato1"></span></li>
                        </ul>
                    </div>                    
                </div>                  
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
</footer>

</body>

</html>
