<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div id="projectDiv">
            <h1 id="titulo"></h1>
            <h2 id="tipo_curso"></h1>
            <h3 id="modalidade"></h1>
            <p id="resumo"></p>
        </div>
        <script src="/client.js" defer></script>
    </body>
</html>
